:root {
  font-size: 0.9em;
}    

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}    

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.content-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  padding-bottom: 5rem;
}

.content-container button {
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  width: 5rem;
  background: #2196F3;
  border: 1px;
  color: white;
}

.content-container .meetup-link {
  &:visited, &:hover, &:active, &:link {
    color: inherit;
  }
}

.content-container .content-container {
  margin-bottom: 6rem;
}    

.content-container.nav-fixed {
  margin-top: 2.5rem;
}    

.content-container p {
  margin: 0;
  box-sizing: border-box;
}    

.content-container div {
  box-sizing: border-box;
  align-items: center;
}    

.content-container .span-flex {
  display: flex;
  align-items: center;
  padding: 4px;
}    

.content-container .flex-right {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}    

.content-container .flex-left {
  display: flex;
  justify-content: flex-start;
  padding: 4px;
}    

.content-container .logo {
  margin: 0;
  font-size: 2em;
  color: white;
}    

.content-container .header {
  background: #0863ab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4em;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}    

.content-container nav {
  height: 2.5rem;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, auto);
  text-align: center;
  position: fixed;
  top: 60px;
  background: #0088be;
  z-index: 1;
}    

.content-container nav.top-fix {
  position: fixed;
  top: 0;
  z-index: 1;
}    

.content-container .tab-selector {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}    

.content-container .tab-selector-text {
  margin-left: 0px;
}    

.content-container .tab-selector:hover {
  background: #1d7ac4;
}    

.content-container .tab-selector.tab-active {
  background: #0762a9;
  color: white;
}

a.tab-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.content-container #profile-icon {
  border-radius: 100%;
  box-sizing: border-box;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
}    

.content-container .main-section {
  margin-bottom: 5rem;
  margin-top: 6.85em;
  position: relative;
  display: none;
  padding-top: 1px;
}    

.content-container .meet-container,
.content-container .main-notif-container,
.content-container .book-container,
.content-container .meet-image-outer-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}    

.content-container .section-showing {
  display: block;
}    

.content-container .main-container {
  box-shadow: 1px 1px 8px 1px #0000004d;
  transition: box-shadow 0.3s linear;
}    

/* .main-container:hover {
  box-shadow: 6px 6px 8px 1px #0000004d;
}     */

.content-container .meet-container {
  border-color: #288bd9;
  width: 95%;
  margin: auto;
  margin-top: 4em;
}    

.content-container .meet-name {
  color: white;
  margin: 0;
  width: 100%;
  min-height: 2rem;
  text-align: center;
  font-size: 1.5em;
  background: #288bd9;
  display: flex;
  justify-content: center;
  align-items: center;
}    

.content-container .meet-name.big {
  min-height: 4rem;
  font-size: 2em;
}    

.content-container .meet-creator {
  border-bottom: 1px solid;
  display: flex;
  height: 2rem;
  padding-left: 8px;
  align-items: center;
  font-size: 1.1em;
}    

.content-container .meet-stats {
  display: grid;
  text-align: center;
}    

.content-container .meet-stat {
  display: flex;
  height: 2em;
  border-bottom: 1px solid #d5e1e2;
  padding-left: 1em;
}    

.content-container .meet-stat-text {
  padding-left: 1em;
}    

.content-container .meet-tags-container {
  display: flex;
  border-color: inherit;
  overflow: hidden;
  width: 100%;
}    

.content-container .meet-tag {
  border: 1px solid;
  border-color: #288bd9;
  padding: 4px;
  margin: 5px 5px 5px 0;
  box-sizing: border-box;
  cursor: pointer;
}    

.content-container .meet-tag.highlighted {
  font-weight: bold;
  background: #ffff0029;
}    

.content-container .meet-tag:hover {
  background: #e3f7ff;
}    

.content-container .meet-tags {
  display: none;
  padding: 5px 1em;
  width: 100%;
  flex-wrap: wrap;
}    

.content-container .meet-tags.populated {
  display: flex;
}    

.content-container .meet-tags-title {
  display: none;
  align-self: baseline;
  min-height: 41px;
}    

.content-container .meet-tags-title-text {
  margin: 5px;
}    

.content-container .notif-book {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2px;
}    

.content-container .book-container {
  margin-top: 15px;
  width: 95%;
  border: 1px solid;
  border-bottom: 2px solid;
  border-color: #288bd9;
}    

.content-container .question-feed-container {
  height: 100%;
  display: grid;
}    

.content-container .question-feed {
  height: 1.5rem;
  padding-left: 8px;
}    

.content-container .question-feed-stat span {
  margin-right: 5px;
}    

.content-container span.question-feed-stat.vote-stat.flex-left {
  height: 100%;
}    

.content-container .question-feed-dir {
  background: #d7e0e8;
  padding: 5px;
  border-bottom: 1px solid #288bd9;
  cursor: pointer;
}    

.content-container .question-feed-container2 {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #288bd9;
}    

.content-container .question-feed-text {
  width: 100%;
}    

.content-container .main-notif-container {
  margin: auto;
  margin-top: 15px;
  width: 95%;
  border: 2px transparent;
  background: #d7e0e8;
}    

.content-container .sub-notif-container {
  transition: all 0.3s ease-out;
}    

.content-container .notif-question {
  display: grid;
  grid-template-columns: auto auto;
  border-top: 1px solid #288bd9;
  padding: 8px;
}    

.content-container span.notif-question-body {
  grid-column: 1/3;
}    

.content-container span.notif-question-votes {
  display: flex;
  justify-content: flex-end;
}    

.content-container .notif-stat-container {
  display: grid;
  padding: 8px;
  grid-template-columns: auto auto;
}    

.content-container .notif-message {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  height: 1.5rem;
}    

.content-container .profile-container-main {
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #288bd9;
}    

.content-container #profile-user-name-text {
  font-size: 2em;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}    

.content-container .profile-container {
  position: relative;
  align-items: center;
  margin: auto;
  height: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  max-width: 500px;
  padding-right: 10px;
  padding-left: 10px;
}    

.content-container .profile-button {
  float: right;
  background: transparent;
  position: fixed;
  right: 0;
  background-image: url('./assets/logout.svg');
  background-size: contain;
  background-position: center;
  border: none;
  margin: 7px;
  width: 3em;
  height: 3em;
  z-index: 2;
  cursor: pointer;
}    

/** search box */

.content-container .search-result-container {
  width: 96%;
  margin: 15px auto;
  border-width: 1px 1px 0 1px;
}    

.content-container .result-box {
  border: 1px solid #288bd9;
  margin-bottom: 15px;
}    

.content-container .result-box p {
  display: block;
}    

.content-container span.search-result {
  background: #ffff004d;
}    

.content-container .search-input-container {
  width: 96%;
  margin: auto;
}    

.content-container .search-input-main {
  display: flex;
}    

.content-container input#search-input {
  border: 1px solid #288bd9;
  box-sizing: border-box;
  height: 2.25em;
  padding: 5px;
  width: 95%;
}    

.content-container button.search-button {
  height: 2.25em;
  background: #288bd9;
  border: none;
  width: 10%;
  min-width: 4em;
  color: white;
}    

.content-container .search-history-text {
  height: 2em;
  display: flex;
  padding-left: 10px;
  align-items: center;
  border-bottom: 1px solid #d7e0e8;
}    

.content-container .search-history-text:hover {
  background: #d7e0e8;
}    

.content-container .result-nav {
  height: 2.5em;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  background: #0088be;
}    

.content-container .result-container {
  margin-top: 15px;
  display: none;
}    

.content-container .result-tab {
  font-size: 1.2em;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}    

.content-container .result-tab:hover {
  background: #1d7ac4;
}    

.content-container .result-tab.tab-active {
  background: #0762a9;
  color: white;
}    

.content-container .result-container.result-container-showing {
  display: block;
}    

.content-container .meet-container.expanded {
  margin-top: 1.5em;
}    

.content-container .meet-container.expanded:hover {
  box-shadow: 1px 1px 8px 1px #0000004d;
}    

.content-container .meet-expanded-section {
  position: relative;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: white;
}    

.content-container #meet-expanded-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}    

.content-container .meet-expanded-show {
  display: block;
}    

.content-container .meet-expanded-details {
  margin: auto;
}    

.content-container #meet-expanded-name {
  padding: 8px;
  background: grey;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  border-bottom: 1px solid;
}    

.content-container #meet-expanded-author {
  display: flex;
  align-items: center;
  padding: 8px;
  height: 1.6em;
  font-size: 1.2em;
  border-bottom: 1px solid;
  background: #b8b8b8;
}    

.content-container #meet-expanded-stat {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 2rem;
  padding: 8px;
  border-bottom: 1px solid;
  background: #ececec;
  text-align: center;
}    

.content-container .meet-image-control {
  border: 2px solid;
  display: block;
  width: 95%;
  margin: auto;
  padding: 4px;
  background: grey;
  font-weight: bold;
  border-radius: 8px;
}    

.content-container .meet-image-outer-container {
  max-height: calc(2rem + 6px);
  margin-top: 10px;
  transition: all 0.5s linear;
}    

.content-container .meet-image-outer-container.showing {
  max-height: 700px;
}    

.content-container .meet-image-control {
  border: 2px solid;
  display: block;
  width: 95%;
  margin: auto;
  padding: 4px;
  background: grey;
  font-weight: bold;
  border-radius: 8px;
}    

.content-container .meet-image-control::after {
  content: 'view pictures';
}    

.content-container .meet-image-control.expanded::after {
  content: 'hide pictures';
  transition: all 0.5s linear;
}    

.content-container .meet-image-container2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}    

.content-container img.meet-image {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  min-height: 200px;
  max-height: 500px;
  object-fit: contain;
  background: #95cee7;
}    

.content-container .meet-image-container {
  overflow: auto;
  background: grey;
  width: 96%;
  margin: auto;
  margin-top: 10px;
  max-height: 500px;
}    

.content-container .meet-question-details {
  border-bottom: 1px solid #288bd9;
  display: grid;
  width: 96%;
  min-height: 6.5em;
  margin: auto;
  padding: 10px 10px 0 10px;
  grid-template-columns: 2.2em 50px calc(100% - calc(2.2em + 50px));
}    

.content-container .question-dp {
  grid-column: 2/2;
  grid-row: 1;
}    

.content-container .meet-expanded-questions {
  max-height: 32.5em;
  overflow-y: auto;
  margin-bottom: 5px;
}    

.content-container label.question-input-label {
  display: block;
  width: 96%;
  margin: auto;
  height: 2em;
  font-size: 1.2em;
  font-weight: bold;
}    

.content-container .meet-question-details-1 {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  /* overflow-wrap: break-word; */
  overflow: hidden;
}    

.content-container .meet-question-name {
  font-weight: bold;
  box-sizing: border-box;
  display: block;
  word-break: break-word;
  max-width: 100%;
}    

.content-container .meet-question-details-2 {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: repeat(2, auto);
  height: 2.5em;
  margin-bottom: 10px;
}    

.content-container .meet-question-author {
  justify-self: flex-end;
  height: 100%;
  box-sizing: border-box;
  align-items: baseline;
  font-weight: bold;
}    

.content-container .question-input-box {
  display: flex;
  margin-top: 5px;
  margin: auto;
  width: 96%;
}    

.content-container #question-input {
  width: 100%;
  height: 2.1rem;
  border: none;
  font-size: 1.2em;
  padding: 3px;
  box-sizing: border-box;
}    

.content-container .comment-boxes {
  max-height: 500px;
  overflow: auto;
}    

.content-container #question-input-button {
  height: 2.1rem;
  width: 15%;
  background: green;
  color: white;
  border: transparent;
  box-sizing: border-box;
}    

.content-container .question-input-container {
  margin: auto;
  margin-top: 10px;
  width: 100%;
  background-color: #e7e7e7;
  padding-bottom: 10px;
}    

.content-container span.question-author {
  margin-right: 10px;
  color: #615e5e;
  align-self: baseline;
  cursor: pointer;
}    

.content-container span.comment-text {
  width: 100%;
  display: block;
  word-break: break-word;
}    

.content-container .comment-control {
  display: flex;
  justify-content: flex-end;
}    

.content-container .comment-exp {
  color: #288bd9;
  cursor: pointer;
  display: flex;
  align-items: center;
}    

.content-container .comment-control::after {
  content: '';
  width: 15px;
  height: 15px;
  margin-left: 3px;
  background-image: url('./assets/dropdown.svg');
  background-size: contain;
  background-position: center;
  background-position-y: 1px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  transition: all 0.3s linear;
  cursor: pointer;
}    

.content-container .comment-control.collapsed::after {
  transform: rotate(0deg);
}    

.content-container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0863ab;
  z-index: 1;
}    

.content-container footer p {
  display: flex;
  color: white;
  font-size: 1.5rem;
}    

@media screen and (min-width: 1150px) {

  .content-container.nav-fixed {
  margin-top: 0;
  }

  .content-container .header {
  justify-content: flex-start;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  }

  .content-container nav {
  position: fixed;
  height: calc(100% - 4.4rem);
  width: 18rem;
  top: 4.4rem;
  padding-top: 20px;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 4rem);
  }

  .content-container nav.top-fix {
  top: 60px;
  }

  .content-container .tab-selector {
  justify-content: flex-start;
  padding-left: 15px;
  font-size: 1.6em;
  height: 100%;
  }

  .content-container #tab-selector-profile {
  grid-row: 1;
  }

  .content-container .main-section {
  left: 18rem;
  width: calc(100% - 18rem);
  margin-top: 4.4rem;
  margin-bottom: 5rem;
  }

  .content-container .meet-container,
  .content-container .main-notif-container,
  .content-container .book-container,
  .content-container .meet-image-outer-container,
  .content-container .search-result-container,
  .content-container .search-input-container {
  max-width: 900px;
  overflow: hidden;
  }

}    

/** icons */

.content-container .upvote {
  background-image: url('./assets/upvote-neutral.svg');
  background-repeat: no-repeat;
}    

.content-container .dnvote {
  background-image: url('./assets/downvote-neutral.svg');
  background-repeat: no-repeat;
}    

.content-container .upvote.active {
  background-image: url('./assets/upvote.svg');
  border-color: green;
}    

.content-container .dnvote.active {
  background-image: url('./assets/downvote.svg');
  border-color: red;
}    

.content-container .feed-stat-vote {
  grid-row: 1/3;
  grid-column: 1;
  display: grid;
}    

.content-container .vote-btn {
  display: inline-block;
  margin-bottom: 2px;
  height: 2.2em;
  width: 2.2em;
  border-radius: 100%;
  background-size: 1.2em;
  background-position: center;
  background-color: white;
  cursor: pointer;
}    

.content-container .vote-count {
  font-weight: bold;
  text-align: center;
}    

.content-container .icon-img {
  height: 2.1rem;
  display: none;
}    

@media screen and (min-width: 700px) {
  .content-container .icon-img {
  display: block;
  }

  .content-container .tab-selector-text {
  margin-left: 10px;
  }
}    

/** input */

.content-container .profile-input-label {
  display: block;
  font-size: 0.8em;
}    

.content-container button.profile-edit-button {
  position: relative;
  float: right;
  height: 1.3rem;
  width: auto;
  bottom: 1.6rem;
  border-radius: 5px;
  border: transparent;
  color: white;
  background: green;
}    

.content-container .profile-input {
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  padding-right: 5rem;
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid #288bd9;
}    

.content-container .profile-input:disabled {
  color: black;
  background: white;
}    

.content-container input:focus,
.content-container button:focus,
.content-container textarea:focus {
  outline: none;
}    

.content-container input,
.content-container textarea,
.content-container button {
  font-family: inherit;
}    

.content-container #profile-picture-container {
  height: 10rem;
  width: 10rem;
  border: 1px solid #288bd9;
  border-radius: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}    

.content-container #profile-picture-label {
  display: block;
  position: absolute;
  top: 40%;
  left: 90%;
  border-radius: 100%;
  box-sizing: border-box;
  width: 20%;
  height: 20%;
  background-image: url('./assets/add.svg');
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #54c2f3;
  box-shadow: 0 0 64px 1px #595959;
}    

.content-container #profile-picture {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-sizing: border-box;
  object-fit: contain;
}    

.content-container #profile-picture-input {
  display: none;
}    

.content-container #profile-picture-button {
  background: blue;
  color: white;
  border: transparent;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0;
  font-size: 1.7em;
  position: absolute;
  top: 0;
  left: 585px;
}    

/** comment box */

.content-container span.comment-author {
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}    

.content-container .comment-box:first-child {
  border-top: 1px solid #d7e0e8;
}    

.content-container .comment-box {
  margin: 0 auto 10px auto;
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: 50px auto;
}    

.content-container .comment-box-container {
  grid-column: 2/4;
  overflow: hidden;
  transition: all 0.3s ease-out;
}    

.content-container img.user-dp-small {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 100%;
  display: flex;
  position: relative;
  top: 0;
  align-self: normal;
  cursor: pointer;
}    

.content-container .comment-dp {
  grid-row: 1;
}    

.content-container .comment-box-details {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px solid;
}    

.content-container .comment-timestamp {
  text-align: start;
  display: grid;
  width: 100%;
  grid-column: 1/3;
}    

.content-container .comment-options {
  margin-top: 3px;
  display: flex;
  grid-column: 2/3;
}    

.content-container .comment-reply-button {
  border: transparent;
  border-radius: 3px;
  background: #0aacee;
  color: white;
}    

.content-container .add-comment-container {
  width: 90%;
  margin: 0 auto 0.2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  border-top: 1px solid #d7e0e8;
}    

.content-container .comment-box-container2 {
  overflow-y: auto;
  max-height: 20em;
  overscroll-behavior-y: auto;
}    

.content-container .comment-scroll {
  background: red;
  border-radius: 30px;
}    

.content-container input#add-comment-input {
  height: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 10px;
}    

.content-container button#add-comment-button {
  height: 2rem;
  box-sizing: border-box;
  border: none;
  color: white;
  margin: 0;
  background: #19b1ef;
}    

/* icons */

.content-container .meet-date-icon {
  background-image: url('./assets/calender.svg');
}    

.content-container .meet-time-icon {
  background-image: url('./assets/clock.svg');
}    

.content-container .meet-place-icon {
  background-image: url('./assets/location.svg');
}    

.content-container .meet-notif {
  background-image: url('./assets/notifications-no.svg');
  cursor: pointer;
}    

.content-container .meet-notif.yes {
  background-image: url('./assets/notification-yes.svg');
}    

.content-container .meet-book.yes {
  background-image: url('./assets/booked-yes.svg');
}    

.content-container .meet-book {
  background-image: url('./assets/booked-no.svg');
}    

.content-container .tags-icon {
  background-image: url('./assets/tag.svg');
}    

.content-container .meet-icon {
  height: 21px;
  width: 21px;
  display: inline-block;
  background-repeat: no-repeat;
}    

/* rsvp */
.content-container .rsvp-notif-container {
  display: flex;
  width: 100%;
  border-color: inherit;
  height: 3rem;
  padding: 1rem;
  padding-left: 0;
}    

.content-container .rsvp-container {
  display: flex;
  width: 100%;
  padding-left: 1em;
  border-color: #288bd9;
}    

.content-container .rsvp-container div {
  display: flex;
  width: 100%;
}    

.content-container .rsvp-tag {
  border: 1px solid;
  border-color: #288bd9;
  width: 3.2rem;
  margin: 5px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: scale 0.5s linear;
}    

.content-container .rsvp-text {
  margin-right: 5px;
}    

.content-container .rsvp-tag-count {
  margin-right: 10px;
  font-size: 1.3em;
}    

.content-container .notif-icon-container {
  justify-self: flex-end;
  /* height: 100%; */
  align-items: center;
  align-content: center;
  padding-top: 5px;
  /* border-bottom: 1px solid #288bd9; */
}    

.content-container .rsvp-tag.active {
  color: white;
  transform: scale(1.2);
  /* transition: scale 0.3s ease-in-out; */
}    

.content-container .rsvp-tag.yes.active {
  background: green;
  border: 1px solid green;
}    

.content-container .rsvp-tag.no.active {
  background: red;
  border: 1px solid red;
}    

.content-container .rsvp-tag.maybe.active {
  background: orange;
  border: 1px solid orange;
}    

.content-container span.rsvp-tag.active.loading {
  opacity: 0.5;
}    

.content-container .rsvp-tag.active.admin {
  transform: scale(1);
}    

.content-container .question-feed-container1 {
  overflow: hidden;
  transition: height 0.3s ease-out;
}    

.content-container .meet-input-label {
  display: block;
  padding-left: 5px;
  font-weight: bold;
}    

.content-container .meet-create-container {
  width: 96%;
  max-width: 500px;
  margin: auto;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
}    

.content-container .meet-create-input {
  width: 100%;
  box-sizing: border-box;
  height: 2rem;
  border: 1px solid #288bd9;
  padding: 5px;
  font-size: 1.2em;
}    

.content-container .meet-create-input.invalid {
  border-color: red;
}    

.content-container textarea.meet-create-input {
  height: auto;
  font-size: 1.8em;
}    

.content-container .meet-entry-container {
  margin-top: 15px;
  position: relative;
}    

.content-container .meet-entry-container.date {
  max-width: 300px;
}    

.content-container .meet-entry-container.time {
  display: inline-block;
}    

.content-container .meet-entry-container.time {
  display: inline-block;
}    

.content-container .meet-create-button-container {
  text-align: center;
}    

.content-container .meet-entry-container.pictures {
  grid-column: 1/7;
  grid-row: 4;
}    

.content-container .meet-selected-container {
  display: grid;
  border: 1px solid #288bd9;
  height: auto;
  width: 100%;
  grid-template-columns: 100%;
}    

.content-container .meet-selected-container img {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}    

.content-container .meet-create-image-container {
  position: relative;
  margin: 10px;
  box-shadow: 1px 1px 8px 1px #0000004d;
}    

.content-container button.meet-image-delete {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  right: 5px;
  top: 5px;
  border-radius: 100%;
  justify-content: center;
  font-size: 1.3em;
  color: #d7e0e8;
  background: transparent;
}    

.content-container .create-button {
  margin: 20px;
  min-width: 7rem;
  height: 2.5rem;
  border: transparent;
  background: green;
  font-size: 1.2em;
  color: white;
}    

.content-container .meet-head-container {
  display: flex;
  background: #288bd9;
}    

.content-container .meet-control-container {
  display: flex;
  justify-content: flex-end;
  height: 2em;
  background: #d7e0e8;
  padding: 2px;
}    

.content-container .meet-control-btn {
  min-width: auto;
  height: 100%;
  margin: 5px;
  border: transparent;
}    

.content-container .meet-create-button-container .edit {
  display: none;
}    

.content-container .meet-create-button-container.edit .new {
  display: none;
}    

.content-container .meet-create-button-container.edit .edit {
  display: initial;
}    

.content-container #meet-create-delete {
  background: red;
}    

.content-container .organizer-header-container {
  height: 5rem;
  width: 96%;
  background: #288bd9;
  display: flex;
  color: white;
  margin: auto;
}    

.content-container .organizer-header {
  text-align: center;
  vertical-align: middle;
  margin: 1.5rem auto;
  font-size: 1.5em;
  font-weight: bold;
}    

.content-container #meet-picture-input {
  border: 0;
  width: 0;
  height: 0;
  padding: 0;
}    

.content-container #create-picture-label {
  background: #288bd9;
  color: white;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}    

/* usage stats */

.content-container .stat-container {
  width: 95%;
  max-width: 500px;
  margin: auto;
}    

.content-container .usage-stat-container {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  text-align: center;
  min-height: 5em;
  border: 1px solid #288bd9;
}    

.content-container .usage-stat-container.admin {
  grid-template-columns: 50% 50%;
}    

.content-container .usage-stat-container div {
  height: 100%;
  display: flex;
  justify-content: center;
}    

.content-container .usage-stat {
  background: #288bd9;
  color: white;
  border-left: 1px solid;
}    

.content-container .stat-count {
  border-left: 1px solid;
  color: #288bd9;
}    

.content-container .booked-meets.usage-stat {
  border-left: none;
}    

.content-container .booked-meets-count.stat-count {
  border-left: none;
}    

.content-container p.stat-text {
  display: inline;
}    

.content-container .stat-header {
  display: flex;
  justify-content: center;
  height: 5em;
  font-size: 1.2em;
  color: #0863ab;
  width: 100%;
}    

/* tag input */
.content-container .tag-edit-container.meet-create-input {
  height: 2rem;
  border: none;
  padding: 0;
}    

.content-container span.tag-span-container {
  border: 1px solid #288bd9;
  margin: 0 3px;
  height: 100%;
  box-sizing: border-box;
  display: inline-flex;
}    

.content-container button.close-btn {
  margin: 0;
  margin-left: 2px;
  background: transparent;
  color: red;
  width: auto;
  height: 100%;
}    

.content-container input#meet-tags-input {
  border: 1px solid #288bd9;
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0 5px;
  margin: 0 3px;
}    

.content-container span.tag-span {
  height: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  box-sizing: border-box;
}    

/* carousel */

.content-container .meet-image-strip {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: max-content;
  position: relative;
}    

.content-container .meet-image-nav {
  display: flex;
  width: 100px;
  height: 15%;
  background-image: url('./assets/imgnav.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}    

.content-container .meet-image-window {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 500px;
  width: 100%;
  background: #95cee7;
}    

.content-container .meet-image-navigator {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}    

.content-container .meet-image-nav.right {
  position: absolute;
  right: 0;
  transform: rotate(270deg);
}    

.content-container .meet-image-nav.left {

  transform: rotate(90deg);
}    

.content-container .meet-image-tabs {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}    

.content-container span.image-nav {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #d7e0e8;
  margin: 5px;
  border-radius: 100%;
  transition: all 0.3s linear;
  cursor: pointer;
}    

.content-container span.image-nav.selected {
  background: #288bd9;
  transform: scale(1.2);
}    

.content-container .profile-display-container {
  width: 100%;
}    

.content-container .user-profile-container {
  max-width: 500px;
  width: 96%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 1px 8px 1px #0000004d;
}    

.content-container .profile-entry {
  height: 3em;
  display: flex;
  border-top: 1px solid #d7e0e8;
  font-size: 1.2em;
}    

.content-container .profile-entry.displaypicture {
  min-height: 200px;
  max-width: 500px;
}    

.content-container img#show-profile-dp {
  height: 100%;
  width: 100%;
  object-fit: contain;
}    

.content-container .profile-key,
.content-container .profile-value {
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
}    

.content-container .profile-key {
  font-size: 1.1em;
  font-weight: bold;
}    

.content-container section#user-profile {
  padding-top: 0;
}    

.content-container .btn-container {
  background: #d7e0e8;
  height: 2.5em;
}    

/* modal */

.content-container .modal-container {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: #288bd9ad;
}    

.content-container .modal-container.show {
  background: #03a9f478;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
}    

.content-container .modal {
  border: 1px solid #288bd9;
  width: 96%;
  max-width: 500px;
  background: white;
  margin: auto;
}    

.content-container header.modal-head {
  background: #288bd9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 2em;
  color: white;
  font-weight: bold;
}    

.content-container p.modal-body {
  min-height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}    

.content-container .modal-opt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  padding: 5px;
}    

.content-container button.modal-opt {
  margin: 0 20px;
}    

.content-container button.modal-opt.true {
  background: #338033;
}    

.content-container button.modal-opt.false {
  background: red;
}    

/* error-modal */

.content-container .error-modal {
  width: 96%;
  max-width: 250px;
  background: #ff1d1da3;
  height: 3em;
  padding-left: 10px;
  display: flex;
  margin: auto;
  transition: height 0.3s ease-out;
  overflow: hidden;
}    

.content-container span.error-icon {
  display: block;
  height: 20px;
  width: 20px;
  background: red;
  border-radius: 100%;
}    

.content-container span.error-text {
  margin-left: 10px;
  color: white;
  font-size: 1.15em;
}    

.content-container .error-modal-container {
  /* display: none; */
  position: fixed;
  width: 100%;
  z-index: 3;
}    

/* date picker */

.content-container .day-container {
  display: grid;
  grid-template-columns: repeat(7, 14.286%);
  text-align: center;
  color: #2196f3;
  height: 1.7em;
}    

.content-container .date-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100%;
}    

.content-container .day-box {
  display: grid;
  grid-template-columns: repeat(7, 14.286%);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
  display: none;
}    

.content-container span.day-num {
  height: 1.7em;
  width: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  justify-self: center;
  cursor: pointer;
}    

.content-container .day-box.active {
  display: grid;
}    

.content-container span.day-num.active {
  background: #2196f3;
  color: white;
}    

.content-container .date-move-container {
  position: relative;
  height: 2em;
  text-align: center;
}    

.content-container span.date-text {
  display: inline-flex;
  height: 100%;
  align-items: center;
}    

.content-container button.date-move {
  position: absolute;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  width: 60px;
  background: transparent;
}    

.content-container button.date-move.bwd {
  left: 0;
}    

.content-container button.date-move.fwd {
  right: 0;
}    

.content-container button.date-move::after {
  display: block;
  border-top: solid;
  border-left: solid;
  width: 10px;
  height: 10px;
  content: '';
}    

.content-container button.date-move.bwd::after {
  transform: rotate(-45deg);
}    

.content-container button.date-move.fwd::after {
  transform: rotate(135deg);
}    

.content-container span.day-num.invalid {
  color: #7890a6;
}    

.content-container .button-container {
  height: 1.8em;
  text-align: center;
}    

.content-container button.ok-button {
  margin-right: 20px;
}
